body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
  @include respond(tab-port){
    padding: 0;
  }
}
.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  &--main,
  &--sub {
    display: block;
    backface-visibility: hidden;
  }
  &--main {
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3rem;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1.1s;
    @include respond(phone){
     letter-spacing: 1rem;
     font-size: 4rem;
    }
  }
  &--sub {
    font-size: 2.5rem;
    letter-spacing: 1.5rem;
    font-weight: 700;
    animation: moveInRight 1.1s ease-in-out;
    @include respond(phone){
      letter-spacing: 0.4rem;
     }
  }
}
.heading-secondary{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
  background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.2s;
  @include respond(tab-port){
    font-size: 2.7rem;
  }
  @include respond(phone){
    font-size: 2rem;
  }
  &:hover{
    transform: skew(5deg,2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black,0.2);
  }
}
.heading-tertiary{
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph{
  font-size: $default-font-size;
  &:not(:last-child){
    margin-bottom: 3rem;
  }
}
